.table .thead-dark th{
    text-align: center;
    vertical-align: middle;
}
#attTable tr td{
    text-align: center;
    vertical-align: middle;
}
#attTable input{
    text-align: center;
    vertical-align: middle;
}